In [2]:
import pandas as pd
import numpy as np

dirty_data = pd.read_csv(r"C:\Users\USER\Downloads\dirty_cafe_sales.csv")

In [ ]:
#the dataset is dirty, with missing values, UNKNOWNS, AND ERRORS
#we will first conver the "ERROR" and "UNKNOWN" to null values
#for the Item, Payment Method, and Location columns, we will replace the missing values with the mode

In [4]:
#first convert the "UNKNOWN" and "ERROR" in "Payment Method" , "Item", and "Location" columns to null

dirty_data['Location'] = dirty_data['Location'].replace("UNKNOWN", pd.NA)
dirty_data['Payment Method'] = dirty_data['Payment Method'].replace("ERROR", pd.NA)
dirty_data['Location'] = dirty_data['Location'].replace("ERROR", pd.NA)
dirty_data['Payment Method'] = dirty_data['Payment Method'].replace("UNKNOWN", pd.NA)
dirty_data['Item'] = dirty_data['Item'].replace("ERROR", pd.NA)
dirty_data['Item'] = dirty_data['Item'].replace("UNKNOWN", pd.NA)

In [6]:
#then replace the nulls with the mode

dirty_data.fillna({'Item': dirty_data['Item'].mode()[0]}, inplace=True)
dirty_data.fillna({'Location': dirty_data['Location'].mode()[0]}, inplace=True)
dirty_data.fillna({'Payment Method': dirty_data['Payment Method'].mode()[0]}, inplace=True)

In [8]:
#checking for null values

dirty_data.isnull().sum()

Transaction ID        0
Item                  0
Quantity            138
Price Per Unit      179
Total Spent         173
Payment Method        0
Location              0
Transaction Date    159
dtype: int64

In [ ]:
#we are done with the non-numeric columns
#for the Quantity and Price Per Unit columns, we will use the mean
#Total Spent depends on Quantity and Price Per Unit i.e Total Spent = Quantity * Price Per Unit

In [10]:
#replace "UNKNOWN" and "ERROR" to null

dirty_data['Total Spent'] = dirty_data['Total Spent'].replace("UNKNOWN", pd.NA)
dirty_data['Price Per Unit'] = dirty_data['Price Per Unit'].replace("UNKNOWN", pd.NA)
dirty_data['Quantity'] = dirty_data['Quantity'].replace("UNKNOWN", pd.NA)

dirty_data['Total Spent'] = dirty_data['Total Spent'].replace("ERROR", pd.NA)
dirty_data['Price Per Unit'] = dirty_data['Price Per Unit'].replace("ERROR", pd.NA)
dirty_data['Quantity'] = dirty_data['Quantity'].replace("ERROR", pd.NA)

In [12]:
# We will then convert the columns to numeric

dirty_data['Quantity'] = pd.to_numeric(dirty_data['Quantity'], errors='coerce')
dirty_data['Price Per Unit'] = pd.to_numeric(dirty_data['Price Per Unit'], errors='coerce')
dirty_data['Total Spent'] = pd.to_numeric(dirty_data['Total Spent'], errors='coerce')

In [14]:
# now that the columns are of the correct format, we will then replace the NaN values with the mean

dirty_data.fillna({'Price Per Unit': dirty_data['Price Per Unit'].mean()}, inplace=True)
dirty_data.fillna({'Quantity': dirty_data['Quantity'].mean()}, inplace=True)

In [16]:
# we will now re-calculate the Total Spent column to fill in the null values

dirty_data.loc[dirty_data['Total Spent'].isna(), 'Total Spent'] = (
    dirty_data['Quantity'] * dirty_data['Price Per Unit']
)

In [18]:
dirty_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              10000 non-null  object
 2   Quantity          10000 non-null  float64
 3   Price Per Unit    10000 non-null  float64
 4   Total Spent       10000 non-null  float64
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  9841 non-null   object
dtypes: float64(3), object(5)
memory usage: 625.1+ KB

In [ ]:
#all columns are now non-null and of the correct format
#we now work on the transaction date column
#we have missing values, UNKNOWN, and ERROR which we need to clean
#the data format is also an object instead of a proper date format
#first, we will replace the UNKNOWN and ERROR to null values

In [20]:
# Replace "UNKNOWN" with NaN
dirty_data['Transaction Date'] = dirty_data['Transaction Date'].replace("UNKNOWN", pd.NA)
dirty_data['Transaction Date'] = dirty_data['Transaction Date'].replace("ERROR", pd.NA)

# Convert to datetime format
dirty_data['Transaction Date'] = pd.to_datetime(dirty_data['Transaction Date'], errors='coerce')

In [22]:
# Replace missing dateswith the most common date

dirty_data.fillna({'Transaction Date': dirty_data['Transaction Date'].mode()[0]}, inplace=True)

In [24]:
dirty_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              10000 non-null  object
 2   Quantity          10000 non-null  float64
 3   Price Per Unit    10000 non-null  float64
 4   Total Spent       10000 non-null  float64
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  10000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 625.1+ KB

In [ ]:
#everything looks good!